{{ define "header" }}
    <header id="banner-home">
        <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    </header>
{{ end }}

{{ define "main" }}
    <ul id="posts">
        {{ range where site.RegularPages "Type" "in" site.Params.mainSections }}
            <li>
                <a href="{{ .Permalink }}">
                    {{- .Title | markdownify -}}
                    <small>on <time>{{ .Date.Format "January 2, 2006" }}</time></small>
                </a>
            </li>
        {{ end }}
    </ul>

    <p>
        This is a catalogue of things <a href="https://codeinthehole.com">David Winterbottom</a>
        has learnt recently.
    </p>
{{ end }}
