{{ define "title" }}
    Today I Learnt - David Winterbottom
{{ end }}

{{ define "header" }}
    <header id="banner-home">
        <h1>{{ .Site.Title }}</h1>
    </header>
{{ end }}

{{ define "description" }}
    A collection of TIL posts started in summer 2020.
{{ end }}

{{ define "main" }}

    <blockquote id="home_quote">
        <p>Every day is a school day</p>
        <footer>Me, every day 🤔</footer>
    </blockquote>

    <ul id="posts">
        {{ range where site.RegularPages "Type" "in" site.Params.mainSections }}
            <li>
                <a href="{{ .Permalink }}">{{- .Title | markdownify -}}</a>
                <small>on <time>{{ .Date.Format "January 2, 2006" }}</time></small>
            </li>
        {{ end }}
    </ul>

    <p>
        This is a catalogue of things <a href="https://codeinthehole.com">David Winterbottom</a>
        has learnt recently.
    </p>
{{ end }}

{{ define "footer" }}
    &nbsp;
{{ end }}
