{{ define "title" }}
    {{ .Title }} - Today I Learnt - David Winterbottom
{{ end }}

{{ define "main" }}
    <h1>Things learnt about {{ .Title }}</h1>

    {{ .Content }}

    <ul id="posts">
        {{ range .Pages }}
            <li>
                <a href="{{ .Permalink }}">{{- .Title | markdownify -}}</a>
                <small>on <time>{{ .Date.Format "January 2, 2006" }}</time></small>
            </li>
        {{ end }}
    </ul>

    <p>
        Browse <a href="/tags/">all tags</a>.
    </p>

{{ end }}

