{{ define "title" }}
    All tags - Today I Learnt - David Winterbottom
{{ end }}

{{ define "main" }}
    <h1>{{ .Title }}</h1>

    <p>This page should be a tag cloud.</p>

    <ul id="posts">
        {{ range .Data.Terms.Alphabetical }}
            <li>
                <a href="{{ .Page.Permalink }}">{{- .Page.Title | markdownify -}}</a>
                ({{ .Count }})
            </li>
        {{ end }}
    </ul>

    <p>
        Browse all posts <a href="/posts/">by month</a>.
    </p>

{{ end }}

