$font-code: 'Monaco', 'Menlo', monospace;
$font-text: 'Helvetica', sans-serif;

$color-text: #394548;
$color-link: #007dfa;
$color-link-hover: #369aff;
$color-grey: #999;
$color-light-grey: #eee;
$color-dark-grey: #aaa;

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: $font-text;
    color: $color-text;
    width: 100%;
    margin: 0 auto 100px auto;
    padding: 0 16px;
    line-height: 1.6;
}

/* Homepage title */
header#banner-home {
    margin: 25px 0;
}

/* Non-homepage title */
header#banner {
    margin: 5px 0px 20px 0px;

    a {
        color: $color-text;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }          
    }

    h2 {
        font-size: 1.6rem;
        margin: 0px;
        text-align: right;
    }              
}

/* Content container (all pages) */
main#content {

    /* Core elements */
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
        line-height: 1.15;
    }

    p {
        color: $color-text;
        margin: 0.7em 0;
    }             

    ul {
        margin: 0.7em 0;
    }

    dl {
        dt {
           font-weight: bold; 
        }
    }

    a {
        color: $color-link;
        text-decoration: none;

        &:hover {
            color: $color-link-hover;
        }          
    }         

    /* Anchor heading links */
    h3 a.anchorjs-link {
        color: $color-text;
    }

    blockquote {
        margin: 5px 0px;
        border-left: 5px solid $color-light-grey;
        padding-left: 10px;

        p {
            color: $color-dark-grey;
            margin: 0px 0px 4px 0px;

            &::before {
                content: '\201C';
            }
            &::after {
                content: '\201D';
            }
        }

        /* Citation */
        footer {
            color: $color-grey;
            font-size: 0.8em;
            padding-left: 0.6rem;

            &::before {
                content: '—';
            }
            
        }
    }

    blockquote#home_quote {
        font-size: 1.8rem;
    }

    /* Lists of posts */
    ul#posts {
        list-style-type: none;
        font-size: 1.6rem;
        margin-top: 20px;
        padding: 0;

        li {
            margin-bottom: 5px;
            padding: 0;
            line-height: 1.5em;

            a {
                text-decoration: none;

                &:hover {
                    color: $color-link-hover;
                }                         

                code {
                    font-family: $font-code;
                    font-size: 0.9em;
                }
            }                         
            
            small {
                font-size: 1.4rem;
                color: $color-dark-grey;
            }
        }
    }             

    /* Tag cloud */
    #tagcloud {
        /* The number of classes to build. Make sure this is higher than the max freq of any one tag. */
        $num_classes: 30;

        /* The tag count that gets the max font size. */
        $max_font_size_count: 10;

        /* The min/max font size */
        $min_font_size: 1em;
        $max_font_size: 10em;

        @for $i from 1 through $num_classes {
            $size: 1em;
            @if $i <= $max_font_size_count { $size: $min_font_size + ( ($max_font_size - $min_font_size) / $max_font_size_count ) * ($i - 1); }
            @if $i >  $max_font_size_count { $size: $max_font_size; }
            .font_size_#{$i} { 
                font-size: $size; 
                line-height: 1;
            }
        }
    }

    /* Single post */
    article { 
        header#post-header {
            color: $color-dark-grey;

            a:link, a:visited, a:hover, a:active {
                color: $color-dark-grey;
            }
            a:hover {
                text-decoration: underline;
            }

            h1 {
                display: block;
                font-size: 3rem;
                line-height: 1.15;
                color: black;
                margin: 0px
            }                                
        }

        img {
            max-width: 100%;
            margin: 0 auto;
        }

        figure {
            margin: 16px 0;
        }

        figure img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }

        figure figcaption {
            font-size: 0.92em;
            font-style: italic;
            line-height: 22px;
            text-align: center;
            margin-top: 6px;
            padding: 0 10px;
        }

        figure figcaption h4 {
            font-style: normal;
            display: inline;
            margin: 0;
        }

        figure figcaption p {
            display: inline;
            margin: 0;
            padding-left: 8px;
        }

        /* Code snippets in headers */
        h1 code, h2 code, h3 code, h4 code {
            font-family: $font-code;
            font-size: 0.9em;
        }

        li p {
            margin: 5px;
        }

        /* Code snippets in paragraphs */
        p code, ul code, ol code  {
            font-family: $font-code;
            font-size: 1.3rem;
            background-color: #eee;
            color: $color-text;
            padding: 3px 5px;
            white-space: nowrap;

            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
        }
        a code {
            color: $color-link;
        }
        blockquote p code {
            color: $color-grey;
        }

        /* Block code snippets */
        pre {
            display: block;
            overflow-x: auto;
            font-size: 1.3rem;
            white-space: pre;
            margin: 0.7em 0;
            padding: 10px 14px;
            line-height: 1.6;

            background-color: black;
            color: white;

            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;

            code {
                padding: 0;
                font-family: $font-code;
            }    
        }

        ul {
            padding-left: 1em;
        }

        section.footnotes {
            font-size: 0.9em;
        }

    }
}

/* Footer */
footer#footer {
    font-size: 1.4rem;
    color: $color-grey;
    margin: 40px 0;

    code {
        font-family: $font-code;
        font-size: 0.9em;
    }

    p {
        margin: 10px 0 0 0;

        span.key {
            background-color: $color-light-grey;
            padding: 2px;
            border: 1px solid #ccc;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
        }
    }

    ul {
        margin: 0;
        padding-left: 0px;
        list-style-position: inside;
    }

    a {
        text-decoration: underline;

        &:link, &:visited, &:hover, &:active {
            color: $color-grey;
        }
    }
}

/* For desktop viewing */
@media (min-width: 770px) {
    body {
        width: 650px;
        line-height: 1.6;
    }

    /* index.html styles */
    header#banner h2 {
        font-size: 1.6rem;
    }

    main#content h3 {
        font-size: 2rem;
    }

    main#content ul#posts {
        font-size: 1.8rem;
    }

    /* single.html styles */
    main#content header#post-header h1 {
        font-size: 2.6rem;
    }

    main#content img {
        max-width: 108%;
        margin-left: -3.8%;
    }

    main#content figure {
        margin-left: -3.8%;
    }

    main#content figure img {
        max-width: 108%;
    }

    main#content pre {
        width: 108%;
        margin-left: -3.8%;
        padding: 1.5rem 2.2rem;
    }
}

/* Fixes iOS font sizing anomaly 
 *
 * See https://stackoverflow.com/questions/20924039/wrong-font-size-when-using-float-right-in-css-on-mobile-safari/22417120#22417120
 * */
code {
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
