<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="{{ block "description" . }}{{ end }}">

        {{ printf `<link rel="shortcut icon" href="%s">` ("favicon.ico" | absURL) | safeHTML }}

        {{ with .OutputFormats.Get "rss" -}}
            {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
        {{ end -}}

        {{ $style := resources.Get "css/main.scss" | resources.ToCSS | resources.Minify }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">

        <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    </head>

    <body>
        {{ block "header" . }}
            {{ partial "header.html" . }}
        {{ end }}

        <main id="content">
            {{ block "main" . }}{{ end }}
        </main>

        {{ block "footer" . }}
            {{- partial "footer.html" . }}
        {{ end }}
    </body>
</html>
