{{ define "title" }}
    TIL {{ replace .Title "`" "'" }} — David Winterbottom
{{ end }}

{{ define "description" }}
    {{ .Summary | markdownify | plainify }} ...
{{ end }}

{{ define "main" }}
    <article>
        <header id="post-header">
            <div id="date_sentence">
                On <time>{{ .Date.Format "January 2th, 2006" }}</time>, <a href="https://codeinthehole.com">I</a> learnt ...
            </div>
            <h1>{{ .Title | markdownify }}</h1>
        </header>

        {{- .Content -}}

    </article>
{{ end }}

{{ define "footer" }}
    <footer id="footer">
        {{ $tag_pages := .GetTerms "tags" }}
        {{ range $tag_pages }}
            {{ $related_tag_pages := where .Pages "Title" "!=" $.Title }}
            {{ if $related_tag_pages }}
                <p>Other posts about <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>:</p>
                <ul>
                {{ range $related_tag_pages }}
                <li><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></li>
                {{ end }}
                </ul>
            {{ end }}
        {{ end }}
    </footer>
{{ end }}
