{{ define "head" }}
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="TIL {{ replace .Title "`" "'" }} — David Winterbottom" />
<meta property="og:description" content="{{ .Summary }} [Reading time: {{ .ReadingTime }} {{ cond (eq .ReadingTime 1) "minute" "minutes" }}]" />

<!-- Screenshot of homepage from Nov 2020 -->
<meta property="og:image" content="https://i.imgur.com/buBLoi9.png" />
{{ end }}

{{ define "title" }}
    TIL {{ replace .Title "`" "'" }} — David Winterbottom
{{ end }}

{{ define "description" }}
    {{ .Summary | markdownify | plainify }} ...
{{ end }}

{{ define "main" }}
    <article>
        <header id="post-header">
            <div id="date_sentence">
                On <time>{{ .Date.Format "January 2, 2006" }}</time>, <a href="https://codeinthehole.com">I</a> learnt ...
            </div>
            <h1>{{ .Title | markdownify }}</h1>
        </header>

        {{- .Content -}}

    </article>
{{ end }}

{{ define "footer" }}
    <footer id="footer">

        {{/* Create a slice variable to keep track of which pages have been rendered */}}
        {{ $listed := slice }}

        {{/* Loop over each tag page */}}
        {{ $tag_pages := .GetTerms "tags" }}
        {{ range $tag_pages }}

            {{/* Select first 10 page with same tag */}}
            {{ $related_tag_pages := first 10 ( where .Pages "Title" "!=" $.Title ) }}

            {{ if $listed }}
                {{/* Pages have already been listed by a previous tag - filter down to those not listed*/}}
                {{ $related_tag_pages := $related_tag_pages | intersect (where .Pages "Title" "not in" $listed) }}

                {{ if $related_tag_pages }}
                    <p>Other things learnt about <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>:</p>
                    <ul>
                        {{ range $related_tag_pages }}
                            <li><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></li>

                            {{/* Add page to slice */}}
                            {{ $listed = $listed | append .Title }}
                        {{ end }}
                    </ul>
                {{ end }}
            {{ else }}
                {{/* No listed pages yet */}}

                {{ if $related_tag_pages }}
                    <p>Other things learnt about <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>:</p>
                    <ul>
                        {{ range $related_tag_pages }}
                            <li><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></li>

                            {{/* Add page to slice */}}
                            {{ $listed = $listed | append .Title }}
                        {{ end }}
                    </ul>
                {{ end }}

            {{ end }}

        {{ end }}

        <br/>

        {{ if and (.PrevPage) (not (.NextPage)) }}
            <p>Jump to the previous TIL using the left cursor key.</p>
        {{ end }}
        {{ if and (not (.PrevPage)) (.NextPage) }}
            <p>Jump to the next TIL using the right cursor key.</p>
        {{ end }}
        {{ if and (.PrevPage) (.NextPage) }}
            <p>Jump to the previous/next TIL using the left/right cursor keys.</p>
        {{ end }}
    </footer>
{{ end }}

{{ define "scripts" }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
    <script>
        {{ if .PrevPage }}
            Mousetrap.bind("left", function() { window.location.replace("{{ .PrevPage.RelPermalink }}"); })
        {{ end }}

        {{ if .NextPage }}
            Mousetrap.bind("right", function() { window.location.replace("{{ .NextPage.RelPermalink }}"); })
        {{ end }}
    </script>
{{ end }}

