{{ define "title" }}
    TIL {{ replace .Title "`" "'" }} — David Winterbottom
{{ end }}

{{ define "description" }}
    {{ .Summary | markdownify | plainify }} ...
{{ end }}

{{ define "main" }}
    <article>
        <header id="post-header">
            <div id="date_sentence">
                On <time>{{ .Date.Format "January 2th, 2006" }}</time>, <a href="https://codeinthehole.com">I</a> learnt ...
            </div>
            <h1>{{ .Title | markdownify }}</h1>
        </header>

        {{- .Content -}}

    </article>
{{ end }}

{{ define "footer" }}
    <footer id="footer">
        {{ $tag_pages := .GetTerms "tags" }}
        {{ if $tag_pages }}
            Tagged with:
            {{ range $index, $tag := $tag_pages }}{{ if ne $index 0 }},{{ end}} <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>{{ end }}
            <br/>
        {{ end }}

        {{ if .PrevPage }}
            Previous: <a href="{{ .PrevPage.RelPermalink }}">{{ .PrevPage.Title | markdownify }}</a><br/>
        {{ end }}
        {{ if .NextPage }}
            Next: <a href="{{ .NextPage.RelPermalink }}">{{ .NextPage.Title | markdownify }}</a>
        {{ end }}
    </footer>
{{ end }}
